.dice svg {
  width: 90px;
  height: 90px;
  transition: 300ms all ease;
  cursor: pointer;
}

.small_dice svg {
  width: 32px;
  height: 32px;
}

.dice:focus {
  outline: 1px solid var(--mantine-primary-color-filled);
}

.dice_rotate svg:active {
  rotate: 180deg;
}

.rotate svg {
  animation: rotate 0.5s;
}

@keyframes rotate {
  0% {
    rotate: 0deg;
  }
  50% {
    rotate: 180deg;
  }
  100% {
    rotate: 0deg;
  }
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  15% {
    transform: translateX(5px);
  }
  30% {
    transform: translateX(-5px);
  }
  45% {
    transform: translateX(5px);
  }
  60% {
    transform: translateX(-5px);
  }
  75% {
    transform: translateX(5px);
  }
  90% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0);
  }
}

.shake {
  animation: shake 0.5s;
}
